.HomeContainer {
  display: flex;
}

.HomeTextBox {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Centrerar innehållet horisontellt */
  align-items: center; /* Centrerar innehållet vertikalt */
  flex-direction: column; /* Ställer in flexriktningen till kolumn */
  padding: 0 20px; /* Lägg till sidomarginer för att undvika att texten hamnar för nära kanten */
}
