.TableClothes-Container {
  margin-top: 20px;
  width: 100%;
  /* border: solid 2px black; */
}

/* //Detta är den yttre diven. innanför Containern dock  */
.TableClothes-Div {
  width: 100%; /* Bredden på Fetch-Div */
  margin: 0 auto; /* Centrerar Fetch-Div horisontellt */
  display: flex;
  flex-wrap: wrap; /* Låter aktivitetskorten flöda till nästa rad när de inte får plats */
  justify-content: space-around; /* Centrerar aktivitetskorten horisontellt */
}

.TableClothes-Card {
  /* Stilar för varje aktivitetskort */
  width: calc(20% - 5px);
  height: auto;
  /* Bredden på varje kort */
  margin-right: 10px;
  margin-bottom: 20px;
  /* mellanrum utanför kort */
  /*padding: 15px;  Utfyllnad mellan innehåll/ kort */
  -webkit-box-shadow: 0px 0px 70px 0px #7dbeb3;
  -moz-box-shadow: 0px 0px 70px 0px #7dbeb3;
  box-shadow: 0px 0px 70px 0px #7dbeb3;
  border-radius: 20px;
}

.TableClothes-Card * {
  /* background-color: aqua; */
  width: 100%;
  border: none;
}
/* .list-group-flush {
  background-color: blue;
} */

/* .list-group-flush .list-group-item {
  border: none; Ta bort kantlinjer
} */
.card-img-top {
  max-height: 220px;
  width: auto;
}

.TableImg-Container {
  display: flex;
  justify-content: center;
}

.ItemInfo-Img {
  padding-top: 5px;
  padding-bottom: 5px;
  /* width: auto; */
  max-width: 40%;
  max-height: 200px;
}

.ItemInfo {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* font-style: italic; */
  margin-top: 10px;
}

.ItemInfo-Group {
  display: flex;
  /* justify-content: flex-start; */
  gap: 10px;
}
