.flexContainer {
  display: flex;
  flex-direction: column; /*för barn-elementen */
  width: 100%;
  align-items: center; /* Centrerar rubriken horisontellt */

  padding: 20px 20px; /* Lägg till sidomarginer så att texten inte hamnar för nära kanten */
}

.flexRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.textContainer,
.itemContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 45%;
}
