.TableClothes-Container {
  margin-top: 20px;
  width: 100%;
  /* border: solid 2px black; */
}

.TableClothes-Div {
  /* background-color: blueviolet; */
  width: 100%; /* Bredden på Fetch-Div */
  margin: 0 auto; /* Centrerar Fetch-Div horisontellt */
  display: flex;
  flex-wrap: wrap; /* Låter aktivitetskorten flöda till nästa rad när de inte får plats */
  justify-content: space-around; /* Centrerar aktivitetskorten horisontellt */
}

.TableClothes-Card {
  /* Stilar för varje aktivitetskort */
  width: calc(35% - 5px);
  height: auto;
  /* Bredden på varje kort */
  margin: 5px;
  margin-bottom: 20px;
  /* mellanrum utanför kort */
  padding: 20px; /* Utfyllnad mellan innehåll/ kort */

  -webkit-box-shadow: 0px 0px 70px 0px #7dbeb3;
  -moz-box-shadow: 0px 0px 70px 0px #7dbeb3;
  box-shadow: 0px 0px 70px 0px #7dbeb3;
  border-radius: 20px;
}

.Item-Info {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: italic;
  margin-top: 10px;
}
